<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Molina -- Tejedor</ion-card-subtitle>
        <ion-card-title>Biemvenido AR_Cuenca</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>AR_Cuenca es una solucion tecnologica a el turismo emergente que existe en la ciudad de Cuenca permitiendo acceder a informacion relevante a los datos mas relevantes de diferentes puntos de la ciudad.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="appstore"></ion-icon>
        <ion-label>Descarga nuestra APP</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
        <ion-label>Revisa nuestro codigo en Github</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Mapa de la ciudad</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
